/core/upload/*

/core/bitrix/modules/error.log.old
/core/bitrix/tools/istlineCall/1

/core/bitrix/backup/*
/core/bitrix/cache/*
/core/bitrix/managed_cache/*
/core/bitrix/tmp/*
/core/bitrix/stack_cache/*

/core/bitrix/php_interface/dbconn.php
/core/bitrix/.settings_extra.php
/core/bitrix/.settings.php

/public/corp.tknovosib.ru/bitrix/*
/public/book.tknovosib.ru/bitrix/*
/public/pass.tknovosib.ru/bitrix/*
/public/partner.tknovosib.ru/bitrix/*

/public/corp.tknovosib.ru/upload/*
/public/book.tknovosib.ru/upload/*
/public/pass.tknovosib.ru/upload/*
/public/partner.tknovosib.ru/upload/*

/public/corp.tknovosib.ru/local
/public/corp.tknovosib.ru/images
/public/corp.tknovosib.ru/bitrix
/public/corp.tknovosib.ru/upload

/public/corp.tknovosib.ru/ligr/webhook-redirection/lock/*

*.log
*.txt
*.xml
*.iml
*.old

.idea
.DS_Store
.vscode

node_modules

